.specialist {
    h1 {
        margin-bottom: 20px;
    }
    &__wrap {
        @include tablets {
            display: flex;
            justify-content: space-between;
        }
        @include laptop {
            padding-bottom: 40px;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 25px;
        @include tablets {
            margin-bottom: 8px;
        }
        @include desktop {
            font-size: 26px;
            line-height: 36px;
            padding-top: 10px;
        }
    }
    &__photo {
        flex-shrink: 0;
        margin-top: 40px;
        @include tablets {
            max-width: 33%;
            order: 2;
            margin-left: 40px;
        }
    }
    p {
        margin-bottom: 1em;
    }
    &__cite {
        position: relative;
        display: block;
        width: 100%;
        padding: 25px;
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        border: 2px solid $color-yellow;
        box-sizing: border-box;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/icon/right-quote.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            padding-left: 10px;
            padding-right: 10px;
            left: 10px;
            top: -12px;
            background-color: #fff;
            @include laptop {
                width: 35px;
                height: 35px;
                left: 15px;
                top: -17px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url(../img/icon/left-quote.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            padding-left: 10px;
            padding-right: 10px;
            right: 10px;
            bottom: -12px;
            background-color: #fff;
            @include laptop {
                width: 35px;
                height: 35px;
                bottom: -17px;
                right: 15px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        @include desktop {
            padding: 30px;
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__buttons {
        padding-top: 30px;
        @include laptop {
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 0;
            @include laptop {
                max-width: 48%;
            }
        }
        .button--border {
            margin-top: 20px;
            border-color: #3A4047;
            color: #3A4047;
            svg {
                transition: $transition-speed;
            }
            &:hover svg {
                transform: translateX(-25px);
            }
            @include laptop {
                margin-top: 0;
            }
        }
    }
}

.certificates {
    margin-top: 30px;
    & h3 {
        margin-bottom: 30px;
        // }
        @include tablets {
            margin-bottom: 40px;
        }
        @include laptop {
            margin-bottom: 45px;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__item {
        display: flex;
        justify-content: center;
    }
}

.spec {
    &__row {
        margin-bottom: 40px;
        .button {
            margin-top: 20px;
            @include tablets {
                margin-top: 0;
            }
        }
        @include tablets {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
    }
}

.specialist--type2 .specialist__wrap {
    padding-bottom: 30px;
    @include laptop {
        padding-bottom: 40px;
    }
}