.specialist {
    h1 {
        margin-bottom: 20px;
    }
    &__wrap {
        @include tablets {
            display: flex;
            justify-content: space-between;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 25px;
        @include tablets {
            margin-bottom: 8px;
        }
        @include desktop {
            font-size: 26px;
            line-height: 36px;
        }
    }
    &__photo {
        flex-shrink: 0;
        margin-top: 40px;
        @include tablets {
            max-width: 33%;
            order: 2;
            margin-left: 40px;            
        }
    }
    p {
        margin-bottom: 1em;
    }
    &__cite {
        position: relative;
        display: block;
        width: 100%;
        padding: 25px;
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        border: 2px solid $color-yellow;
        box-sizing: border-box;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/icon/right-quote.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            padding-left: 10px;
            padding-right: 10px;
            left: 10px;
            top: -12px;
            background-color: #fff;
            @include laptop {
                width: 35px;
                height: 35px;
                left: 15px;
                top: -17px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        
        &::after {
            content: "";
            position: absolute;
            background-image: url(../img/icon/left-quote.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            padding-left: 10px;
            padding-right: 10px;
            right: 10px;
            bottom: -12px;
            background-color: #fff;
            @include laptop {
                width: 35px;
                height: 35px;
                bottom: -17px;
                right: 15px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        @include desktop {
            padding: 30px;
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__buttons {
        padding-top: 30px;
        @include laptop {
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 0;
            @include laptop {
                max-width: 48%;
            }
        }
        .button--border {
            margin-top: 20px;
            border-color: #3A4047;
            color: #3A4047;
            svg {
                transition: $transition-speed;
            }
            &:hover svg {
                transform: translateX(-25px);
            }
            @include laptop {
                margin-top: 0;
            }
        }
    }
}
.certificates {
    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        margin: 1em 0;
        @include tablets {
            font-size: 28px;
            line-height: 30px;
        }
        @include laptop {
            font-size: 32px;
            line-height: 36px;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__item {
        display: flex;
        justify-content: center;
    }
    .swiper-button-next {
        right: 0;
        @include laptop {
            right: -40px;
        }
        &:hover {
            transform: translateX(5px)
        }
    }
    .swiper-button-prev {
        left: 0;
        @include laptop {
            left: -40px;
        }
        &:hover {
            transform: translateX(-5px)
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 15%;
        transition: $transition-speed;
        @include laptop {
            top: 50%;
        }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: $color-grey;
        font-size: 23px;
        font-weight: bold;
        @include laptop {
            font-size: 30px;
        }
    }
}