<section class="before-after">
    <h2>Фото «до и после»</h2>
    <div class="before-after__wrapper">
        <div class="before-after__slider swiper-container">
            <div class="swiper-wrapper swiper-centered-wrapper">
                <div class="before-after__slide swiper-slide">
                    <div class="news__img-wrap news__img-wrap--slider">
                        <div class="news__slider swiper-container swiper-container--small">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- Добавляется к Первому слайду -->
                                    <span class="news__img-wrap-text news__img-wrap-text-before">до</span>
                                    <span class="news__img-wrap-text news__img-wrap-text-after">после</span>
                                    <!-- Добавляется к Первому слайду -->
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide1.jpg"></a>
                                    <img src="./img/photo-after/slider/slide1.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide2.jpg"></a>
                                    <img src="./img/photo-after/slider/slide2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide3.jpg"></a>
                                    <img src="./img/photo-after/slider/slide3.jpg" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination swiper-pagination--small"></div>
                    </div>
                    <div class="before-after__text">
                        <h2>Случай 1</h2>
                        <p><span class="before-after__argument-title">Пациент: </span> женщина, 50 лет.</p>
                        <p><span class="before-after__argument-title">Проблема: </span> нависшие верхние веки.</p>
                        <p><span class="before-after__argument-title">Результат: </span> устранены излишки мягких тканей на верхних веках,
                            разгладились морщины под глазами,
                            сгладились «гусиные лапки»,
                                лицо выглядит естественно, глаеза стали более выразительными.
                            устранены излишки мягких тканей на верхних веках,
                            разгладились морщины под глазами,
                            сгладились «гусиные лапки»,
                                лицо выглядит естественно, глаза стали более выразительными.</p>
                        <a href="" class="button"><span>Записаться на прием</span> </a>
                    </div>
                </div>
                <div class="before-after__slide swiper-slide">
                    <div class="news__img-wrap news__img-wrap--slider">
                        <div class="news__slider swiper-container swiper-container--small">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- Добавляется к Первому слайду -->
                                    <span class="news__img-wrap-text news__img-wrap-text-before">до</span>
                                    <span class="news__img-wrap-text news__img-wrap-text-after">после</span>
                                    <!-- Добавляется к Первому слайду -->
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide1.jpg"></a>
                                    <img src="./img/photo-after/slider/slide1.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide2.jpg"></a>
                                    <img src="./img/photo-after/slider/slide2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <a data-fancybox="gallery-1" class="news__link" href="./img/photo-after/slider/slide3.jpg"></a>
                                    <img src="./img/photo-after/slider/slide3.jpg" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination swiper-pagination--small"></div>
                    </div>
                    <div class="before-after__text">
                        <h2>Случай 1</h2>
                        <p><span class="before-after__argument-title">Пациент: </span> женщина, 50 лет.</p>
                        <p><span class="before-after__argument-title">Проблема: </span> нависшие верхние веки.</p>
                        <p><span class="before-after__argument-title">Результат: </span> устранены излишки мягких тканей на верхних веках,
                            разгладились морщины под глазами,
                            сгладились «гусиные лапки»,
                                лицо выглядит естественно, глаеза стали более выразительными.
                            устранены излишки мягких тканей на верхних веках,
                            разгладились морщины под глазами,
                            сгладились «гусиные лапки»,
                                лицо выглядит естественно, глаза стали более выразительными.</p>
                        <a href="" class="button"><span>Записаться на прием</span> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>