<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLClinic</title>
    <link rel="stylesheet" href="./css/style.min.css?v=6">

</head>

<body id="up">


    <header class="header">
        <!-- <div class="container"> -->
        <div class="header__wrap">
            <a class="logo" href="">
                <img data-src="../img/logo-white.png" alt="" loading="lazy" class="lazyload">
            </a>
            <button class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            <nav class="header__nav">
                <ul>
                    <li class="with-sub"> <a href="">О клинике 
                            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.27553 7.00079L0.270488 2.99568C0.177782 2.90305 0.126709 2.77939 0.126709 2.64754C0.126709 2.51568 0.177782 2.39203 0.270488 2.29939L0.565364 2.00444C0.757509 1.81252 1.0698 1.81252 1.26165 2.00444L4.62484 5.36764L7.99177 2.00071C8.08447 1.90808 8.20806 1.85693 8.33984 1.85693C8.47176 1.85693 8.59535 1.90808 8.68813 2.00071L8.98293 2.29566C9.07564 2.38837 9.12671 2.51195 9.12671 2.64381C9.12671 2.77566 9.07564 2.89932 8.98293 2.99195L4.97423 7.00079C4.88123 7.09365 4.75706 7.14465 4.62506 7.14435C4.49255 7.14465 4.36846 7.09365 4.27553 7.00079Z" fill="white"/>
                            </svg>
                        </a>
                        <ul>
                            <li><a href="">Принципы работы</a></li>
                            <li><a href="">История</a></li>
                            <li><a href="">Галерея</a></li>
                            <li><a href="">Специалисты</a></li>
                            <li><a href="">Вакансии</a></li>
                            <li><a href="">Документы</a></li>
                            <li><a href="">Новости</a></li>
                        </ul>
                    </li>
                    <li class="with-sub"><a href="">Услуги
                        <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27553 7.00079L0.270488 2.99568C0.177782 2.90305 0.126709 2.77939 0.126709 2.64754C0.126709 2.51568 0.177782 2.39203 0.270488 2.29939L0.565364 2.00444C0.757509 1.81252 1.0698 1.81252 1.26165 2.00444L4.62484 5.36764L7.99177 2.00071C8.08447 1.90808 8.20806 1.85693 8.33984 1.85693C8.47176 1.85693 8.59535 1.90808 8.68813 2.00071L8.98293 2.29566C9.07564 2.38837 9.12671 2.51195 9.12671 2.64381C9.12671 2.77566 9.07564 2.89932 8.98293 2.99195L4.97423 7.00079C4.88123 7.09365 4.75706 7.14465 4.62506 7.14435C4.49255 7.14465 4.36846 7.09365 4.27553 7.00079Z" fill="white"/>
                        </svg></a>

                        <ul>
                            <li><a href="">Стоматология</a></li>
                            <li><a href="">Детская стоматология</a></li>
                            <li><a href="">Эстетическая хирургия лица</a></li>
                            <li><a href="">Медицинская косметология</a></li>

                        </ul>
                    </li>
                    <li><a href="">Цены</a></li>
                    <li><a href="">Акции</a></li>
                    <li class="with-sub"><a href="">Пациентам 
                        <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27553 7.00079L0.270488 2.99568C0.177782 2.90305 0.126709 2.77939 0.126709 2.64754C0.126709 2.51568 0.177782 2.39203 0.270488 2.29939L0.565364 2.00444C0.757509 1.81252 1.0698 1.81252 1.26165 2.00444L4.62484 5.36764L7.99177 2.00071C8.08447 1.90808 8.20806 1.85693 8.33984 1.85693C8.47176 1.85693 8.59535 1.90808 8.68813 2.00071L8.98293 2.29566C9.07564 2.38837 9.12671 2.51195 9.12671 2.64381C9.12671 2.77566 9.07564 2.89932 8.98293 2.99195L4.97423 7.00079C4.88123 7.09365 4.75706 7.14465 4.62506 7.14435C4.49255 7.14465 4.36846 7.09365 4.27553 7.00079Z" fill="white"/>
                        </svg></a>

                        <ul>
                            <li><a href="">Правила клиники</a></li>
                            <li><a href="">Проблемы и решения</a></li>
                            <li><a href="">Фото "до-после"</a></li>
                            <li><a href="">Видео</a></li>
                            <li><a href="">Вопрос-ответ</a></li>
                            <li><a href="">Отзывы</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>
                    </li>
                    <li><a href="">Контакты</a></li>

                </ul>
            </nav>

            <button class="search"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.7253 27.4223L21.238 20.0546C23.1987 17.9244 24.4034 15.1071 24.4034 12.007C24.4025 5.37529 18.9401 0 12.2015 0C5.46282 0 0.000488281 5.37529 0.000488281 12.007C0.000488281 18.6387 5.46282 24.014 12.2015 24.014C15.113 24.014 17.7835 23.0069 19.881 21.3327L27.3974 28.7294C27.7637 29.0902 28.3582 29.0902 28.7245 28.7294C29.0916 28.3686 29.0916 27.7831 28.7253 27.4223ZM12.2015 22.1666C6.49984 22.1666 1.87778 17.618 1.87778 12.007C1.87778 6.39596 6.49984 1.84735 12.2015 1.84735C17.9032 1.84735 22.5252 6.39596 22.5252 12.007C22.5252 17.618 17.9032 22.1666 12.2015 22.1666Z" fill="white"/>
                </svg>
                </button>

            <form class="form-search" method="get" action="">
                <div class="form-search-wrap">
                    <input type="search">
                    <button type="submit"></button>
                </div>

            </form>

            <div class="header__phone">
                <a href="tel:+38122328825">|812| 232-88-25</a>
                <a href="tel:+38122328825">|812| 232-88-25</a>
            </div>

            <a class="button" href=""><span>Записаться</span></a>
        </div>

        <!-- </div> -->

    </header>



    <nav class="burger-nav">
        <button class="close burger-nav__close"></button>

        <div class="burger-nav__column" style="background-image: url(./img/nav/nav-1.jpg);">
            <ul class="burger-nav__list">
                <li class="burger-nav__item burger-nav__item--main">
                    <a class="burger-nav__link" href="">О клинике</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Принципы работ</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Галерея</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">История</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Технологии и оборудование</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Специалисты</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Вакансии</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Документы</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Новости</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="burger-nav__column" style="background-image: url(./img/nav/nav-2.jpg);">


            <ul class="burger-nav__list">
                <li class="burger-nav__item burger-nav__item--main">
                    <a class="burger-nav__link" href="">Услуги</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Стоматология</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Детская стоматология</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Эстетическая хирургия</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Медицинская косметология</a>
                </li>

                <!-- Можно сделаать как второе меню -->
                <li>
                    <ul class="burger-nav__list burger-nav__list--second">
                        <li class="burger-nav__item">
                            <a class="burger-nav__link" href="">Цены</a>
                        </li>
                        <li class="burger-nav__item">
                            <a class="burger-nav__link" href="">Акции</a>
                        </li>
                    </ul>
                </li>

            </ul>



        </div>
        <div class="burger-nav__column" style="background-image: url(./img/nav/nav-3.jpg);">
            <ul class="burger-nav__list">
                <li class="burger-nav__item burger-nav__item--main">
                    <a class="burger-nav__link" href="">Пациентам</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Правила клиники</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Проблемы и решения</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Фото «до и после»</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Видео</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Вопрос-ответ</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Отзывы</a>
                </li>
                <li class="burger-nav__item">
                    <a class="burger-nav__link" href="">Блог</a>
                </li>

            </ul>
        </div>

    </nav>


    <nav class="burger-nav-mobile">
        <div class="container">
            <ul class="burger-nav-mobile__list">
                <li class="burger-nav-mobile__item burger-nav-item__more">
                    <a href="" class="burger-nav-mobile__link">О клинике

                        <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.776 5.69324L1.32533 0.223905C1.008 -0.0747623 0.522667 -0.0747623 0.224 0.223905C-0.0746665 0.522571 -0.0746665 1.02657 0.224 1.32524L5.13333 6.23457L0.224 11.1439C-0.0746667 11.4612 -0.0746667 11.9466 0.224 12.2452C0.522667 12.5439 1.008 12.5439 1.32533 12.2452L6.776 6.79457C7.07467 6.47724 7.07467 5.9919 6.776 5.69324Z" fill="#3A4047"/>
                        </svg>
                    </a>

                    <ul class="burger-nav-mobile__list-level">

                        <li class="burger-nav-mobile__item burger-nav-mobile__item--back">
                            <span class="burger-nav-mobile__link">Назад</span>
                        </li>



                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Принципы работ</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Галерея</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">История</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Технологии и оборудование</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Специалисты</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Вакансии</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Документы</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Новости</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Контакты</a>
                        </li>
                    </ul>
                </li>

                <li class="burger-nav-mobile__item burger-nav-item__more">
                    <a href="" class=" burger-nav-mobile__link ">
                        О клинике

                        <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.776 5.69324L1.32533 0.223905C1.008 -0.0747623 0.522667 -0.0747623 0.224 0.223905C-0.0746665 0.522571 -0.0746665 1.02657 0.224 1.32524L5.13333 6.23457L0.224 11.1439C-0.0746667 11.4612 -0.0746667 11.9466 0.224 12.2452C0.522667 12.5439 1.008 12.5439 1.32533 12.2452L6.776 6.79457C7.07467 6.47724 7.07467 5.9919 6.776 5.69324Z" fill="#3A4047"/>
                        </svg>
                    </a>

                    <ul class="burger-nav-mobile__list-level">

                        <li class="burger-nav-mobile__item burger-nav-mobile__item--back">
                            <span class="burger-nav-mobile__link">Назад</span>
                        </li>



                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Принципы работ</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Галерея</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">История</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Технологии и оборудование</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Специалисты</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Вакансии</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Документы</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Новости</a>
                        </li>
                        <li class="burger-nav-mobile__item">
                            <a class="burger-nav-mobile__link" href="">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li class="burger-nav-mobile__item">
                    <a class="burger-nav-mobile__link" href="">Цены</a>
                </li>
                <li class="burger-nav-mobile__item">
                    <a class="burger-nav-mobile__link" href="">Акции</a>
                </li>
                <li class="burger-nav-mobile__item">
                    <a class="burger-nav-mobile__link" href="">Пациентам</a>
                </li>
                <li class="burger-nav-mobile__item">
                    <a class="burger-nav-mobile__link" href="">Контакты</a>
                </li>
            </ul>

            <form class="form-search form-search--mobile" method="get" action="">
                <div class="form-search-wrap">
                    <input type="search">
                    <button type="submit"></button>
                </div>

            </form>
            <a class="button" href=""><span>Записаться</span></a>
        </div>

    </nav>