<h3>Другие услуги клиники</h3>
<nav class="sub-tag sub-tag--promo">
    <ul class="sub-tag__menu">
        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Лечение зубов</a>
        </li>
        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Лечение десен</a>
        </li>
        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Отбеливание зубов</a>
        </li>
        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Ортодонтия</a>
        </li>

        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Протезирование зубов</a>
        </li>

        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Имплантация зубов</a>
        </li>

        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Беременность и лечение зубов</a>
        </li>

        <li class="sub-tag__item">
            <a class="sub-tag__link" href="">Прочие вопросы</a>
        </li>

    </ul>
</nav>