<section class="reviews">
    <h2>Отзывы</h2>
    <div class="reviews__wrapper">
        <div class="reviews__slider swiper-container">
            <div class="swiper-wrapper">
                <div class="review__item swiper-slide">
                    <a data-fancybox="review" href="./img/rew/rew1.jpg">
                        <img class="lazyload" data-src="./img/rew/rew1.jpg" alt="отзыв">
                    </a>
                    <div class="review__text">
                        <h3 class="review__title">Дарья и ее бабушка Делова Р.С.</h3>
                        <p class="review__desc">Ходим в ДЛклиник с внучкой уже несколько лет. Несколько раз делали профчистку и 1 раз лечили зуб. Чистить зубы мы не любим, поэтому периодически ходим на чистку к детскому врачу. Последний раз были у доктора Климовой Елены Александровны.
                            Прекрасный детский врач очень ласково общается с ребенком, прием прошел быстро и весело! Даже селфи на память сделали. Внучка в восторге. И если раньше боялась ходить к стоматологу, теперь – с удовольствием и в любое время.
                            <br>Спасибо ДЛклиник!<br> С благодарностью,<br> Дарья и ее бабушка Р.С.Делова</p>
                    </div>
                </div>
                <div class="review__item swiper-slide">
                    <a data-fancybox="review" href="./img/rew/rew1.jpg">
                        <img class="lazyload" data-src="./img/rew/rew1.jpg" alt="отзыв">
                    </a>
                    <div class="review__text">
                        <h3 class="review__title">Дарья и ее бабушка Делова Р.С.</h3>
                        <p class="review__desc">Ходим в ДЛклиник с внучкой уже несколько лет. Несколько раз делали профчистку и 1 раз лечили зуб. Чистить зубы мы не любим, поэтому периодически ходим на чистку к детскому врачу. Последний раз были у доктора Климовой Елены Александровны.
                            Прекрасный детский врач очень ласково общается с ребенком, прием прошел быстро и весело! Даже селфи на память сделали. Внучка в восторге. И если раньше боялась ходить к стоматологу, теперь – с удовольствием и в любое время.
                            <br>Спасибо ДЛклиник!<br> С благодарностью,<br> Дарья и ее бабушка Р.С.Делова</p>
                    </div>
                </div>
                <div class="review__item swiper-slide">
                    <a data-fancybox="review" href="./img/rew/rew1.jpg">
                        <img class="lazyload" data-src="./img/rew/rew1.jpg" alt="отзыв">
                    </a>
                    <div class="review__text">
                        <h3 class="review__title">Дарья и ее бабушка Делова Р.С.</h3>
                        <p class="review__desc">Ходим в ДЛклиник с внучкой уже несколько лет. Несколько раз делали профчистку и 1 раз лечили зуб. Чистить зубы мы не любим, поэтому периодически ходим на чистку к детскому врачу. Последний раз были у доктора Климовой Елены Александровны.
                            Прекрасный детский врач очень ласково общается с ребенком, прием прошел быстро и весело! Даже селфи на память сделали. Внучка в восторге. И если раньше боялась ходить к стоматологу, теперь – с удовольствием и в любое время.
                            <br>Спасибо ДЛклиник!<br> С благодарностью,<br> Дарья и ее бабушка Р.С.Делова</p>
                    </div>
                </div>
                <div class="review__item swiper-slide">
                    <a data-fancybox="review" href="./img/rew/rew1.jpg">
                        <img class="lazyload" data-src="./img/rew/rew1.jpg" alt="отзыв">
                    </a>
                    <div class="review__text">
                        <h3 class="review__title">Дарья и ее бабушка Делова Р.С.</h3>
                        <p class="review__desc">Ходим в ДЛклиник с внучкой уже несколько лет. Несколько раз делали профчистку и 1 раз лечили зуб. Чистить зубы мы не любим, поэтому периодически ходим на чистку к детскому врачу. Последний раз были у доктора Климовой Елены Александровны.
                            Прекрасный детский врач очень ласково общается с ребенком, прием прошел быстро и весело! Даже селфи на память сделали. Внучка в восторге. И если раньше боялась ходить к стоматологу, теперь – с удовольствием и в любое время.
                            <br>Спасибо ДЛклиник!<br> С благодарностью,<br> Дарья и ее бабушка Р.С.Делова</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>