.before-after {
    &__wrapper {
        position: relative;
    }
    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        margin: 1em 0 0.75em;
        @include tablets {
            font-size: 28px;
            line-height: 30px;
        }
        @include laptop {
            font-size: 32px;
            line-height: 36px;
        }
    }
    p {
        margin: 0.5em 0;
    }
    &__slide {
        @include laptop {
            display: flex;
            padding-top: 35px;
        }
    }
    &__argument-title {
        font-size: 1.35em;
    }
    &__image {
        @include laptop {
            flex-shrink: 0;
            margin-right: 85px;
            max-width: 500px;
        }
    }
    .button {
        margin-top: 20px;
    }
    &__text h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .swiper-button-next {
        right: 0;
        @include laptop {
            right: -40px;
        }
        &:hover {
            transform: translateX(5px)
        }
    }
    .swiper-button-prev {
        left: 0;
        @include laptop {
            left: -40px;
        }
        &:hover {
            transform: translateX(-5px)
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 15%;
        transition: $transition-speed;
        @include laptop {
            top: 50%;
        }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: $color-grey;
        font-size: 23px;
        font-weight: bold;
        @include laptop {
            font-size: 30px;
        }
    }
    .news__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.news__slider .swiper-slide:first-of-type {
    position: relative;
    &:before {
        content: 'до';
        position: absolute;
        bottom: 14px;
        left: 15px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        z-index: 9;
    }
    &:after {
        content: 'после';
        position: absolute;
        bottom: 14px;
        right: 15px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        z-index: 9;
    }
}
.news__img-wrap {
    margin-bottom: 40px;
    @media (min-width: 1024px) {
        margin-bottom: 0;
    }
}