.reviews-in {
    // padding: 0;
    & .swiper-centered-wrapper--promo {
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        margin-bottom: 10px;
    }
    &__wrapper {
        position: relative;
    }
    &__slider {
        padding: 35px 0;
        @include tablets {
            padding: 45px 0;
        }
        @include desktop {
            padding: 50px 0;
        }
    }
    .review__item.swiper-slide {
        @include tablets {
            flex-direction: row;
        }
        a {
            max-height: 340px;
            img {
                width: 100%;
                object-fit: cover;
                z-index: 1;
                height: 100%;
                @include tablets {
                    position: absolute;
                }
            }
            @include tablets {
                position: relative;
                flex-basis: 28%;
                flex-shrink: 0;
                max-height: 340px;
                min-height: 240px;
                margin-right: 5%;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.37%, #FFFFFF 98.97%);
                    z-index: 2;
                }
            }
        }
    }
}